.row.well
  = simple_form_for @idea ||= Idea.new, :html => { :class => 'span6 form-horizontal' }, :defaults => { :input_html => { :class => 'input-xlarge span8' } } do |f|
    %fieldset
      %legend Details
      = f.input :title
      = f.input :github, input_html: { value: "http://github.com/" }
      = render 'formatting_guide'
      = f.input :description, :input_html => { :rows => 8 }
      = f.input :category_ids, :input_html => { :class => 'typeahead', :data => { :provide => 'typeahead', :source => Category.all.collect(&:name).to_s }, :value => '', :autocomplete => 'off' }, :label => "Categories"
      #idea_categories
        %ul
          - @idea.categories.each do |cat|
            %li{:class => "token-input-token-facebook"}
              %p= cat.name
              %span.token-input-delete-token-facebook x
              %input{:name => 'cat[]', :type => 'hidden', :value => cat.name}
      .clear
      .form-actions.ideahub
        = f.button :submit, :class => 'btn btn-primary btn-large'
