.grid{class: "grid-#{idea.id % 4}", id: "idea-#{idea.id}"}
  %a{href: '#'}
    %h2{class: "title"}
      = idea.title.truncate(20)
      %i{class: "#{'favorite' if idea.users.include?(current_user)}"}
    %h6= idea.categories.limit(2).collect(&:name).join(', ') or "Category"
  .description
    %span= raw idea.description.truncate(140)
    = link_to 'Overview', "#idea-detail-#{idea.id}", class: 'details btn btn-info', data: {toggle: 'modal'}
  %span.detail
    %span
      %i.icon-calendar>
      = idea.schedules.last.try(:scheduled_at).try(:idea_date) or "soon"
      |
    %span
      %i.icon-user>
      = pluralize(idea.users.count, "participant")

  .modal{style: "display:none", id: "idea-detail-#{idea.id}"}
    .modal-header
      %button{class: "close", data: {:dismiss => "modal"}} x
      %h3= idea.title
    .modal-body
      %h6= idea.categories.collect(&:name).join(', ')
      %h6= idea.github
      %br/
      %p= raw idea.description
    .modal-footer
      =link_to "Close", "#", class: 'btn', data: {dismiss: "modal"}
      - if idea.user == current_user
        =link_to "Edit", edit_idea_path(idea), class: 'btn'

