$('#idea-#{@idea.id} .detail span:last').html("<i class='icon-user'></i> #{pluralize(@idea.users.count, 'participant')}")
- if @participant 
  $('#idea-#{@idea.id} a.participate.btn').text('Participate')
  $('#idea-#{@idea.id} a h2 i').removeClass('favorite')
  $('.participate.btn.btn-info').text('Participate')
- else
  $('#idea-#{@idea.id} a.participate.btn').text('Leave')
  $('.row .participate.btn.btn-info').text('Leave')
  $('#idea-#{@idea.id} a h2 i').addClass('favorite')
