!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Ideahub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} IdeaHub
          .nav-collapse
            %ul.nav
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Sign out", signout_path, :class => :'pull-right'
              - else
                %li
                  = link_to "Sign In", signin_path, :class => :'pull-right'
    .container
      = yield
