!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Ideahub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", 'jquery.ui.core', 'jquery.ui.datepicker', 'jquery-ui-1.8.19.custom', 'jquery.ui.widget', 'jquery.ui.mouse',  'jquery.ui.slider', 'jquery-ui-timepicker-addon'
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-fixed-top
      .container
        %a.brand{:href => '/'} IdeaHub
        .nav-collapse
          %ul.nav
          %ul.nav.pull-right
            - if user_signed_in?
              %li
                = link_to "Sign out", signout_path, class: 'pull-right'
            - else
              %li
                = link_to '', signin_path, class: 'twitter-image pull-right', title: 'Sign in with Twitter'

    .container
      = yield
