!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= "Ideahub :: #{content_for?(:title) ? yield(:title) : get_idea_quote}"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-fixed-top
      .container
        %a.brand{:href => '/'} IdeaHub
        .nav-collapse
          %ul.nav
          %ul.nav.pull-right
            - if user_signed_in?
              %li
                = link_to "Create", new_idea_path, :class => :'pull-right'
              %li
                = link_to "Browse", ideas_path, :class => :'pull-right'
            %li.dropdown
              %a.dropdown-toggle{ :href => '#', "data-toggle" => "dropdown"}
                About
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Why?", feather_published_page_path('why')
                %li
                  = link_to "Credits", feather_published_page_path('credits')
                %li
                  = link_to "About Us", feather_published_page_path('about_us')
            - if user_signed_in?
              %li
                = link_to "Sign out", signout_path, class: 'pull-right'
            - else
              %li
                = link_to '', signin_path, class: 'twitter-image pull-right', title: 'Sign in with Twitter'
    - if params[:controller] == 'ideas' && params[:action] == 'index'  
      .grid.clearfix#wrapper
        = render 'layouts/alert'
        = yield
    -else
      .container
        = render 'layouts/alert'
        = yield
      
