<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Feather CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Feather CMS', feather_pages_path, :class => 'brand' %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= params[:type] == 'about_us' ? 'active' : '' %>">
                <%= link_to 'About us' , feather_page_path('about_us') %> 
              </li>
              <li class="<%= params[:type] == 'why' ? 'active' : '' %>">
                <%= link_to 'Why' , feather_page_path('why') %> 
              </li>
              <li class="<%= params[:type] == 'credits' ? 'active' : '' %>">
                <%= link_to 'Credits' , feather_page_path('credits') %> 
              </li>
  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div> 

  </body>
</html>
